/* CSS Document
ISO.css
Style the dictionary content
*/

/* Labels for fields */
:before, :after { font-weight:normal; font-style: italic; font-size: 70%;}
.exGroup:before {content: 'Example sentence'}
.d {margin: 0 0 0 4px}
.ms:before { content: 'Sense '}
.ps:before { content: ''}
.gl:before { content: ''}
.glGroup:before { content: 'Meaning '}
.subject:before {content: 'Subject: '}
.object:before {content: 'Object: '}
.ld:after {content: ' Derivative'}
.reGroup:before { content: 'Related word '}
.re:after { content: ', '}
.rsGroup:before { content: 'Synonym '}
.rs:after { content: ', '}
.raGroup:before { content: 'Antonym '}
.ra:after { content: ', '}
.scGroup:before { content: '(See appendix '}
.scGroup:after { content: ') '}
.sc:after { content: '; '}
.ec:before { content: "Cultural Note ";}
.co:before { content: "Meaning ";}
.rtGroup:before { content: "(See ";}
.rtGroup:after { content: ' for table) '}
.rt:after { content: ', '}
.ii:after { content: ', '}
.rgGroup:before { content: 'See also '}
.lsGroup:before { content: 'Saying '}
.li:after { content: ' Idiom'}
.va:before { content: 'Variant '}
.senseafter:after { content: ' Sense '}
.mr:before { content: 'Alternate form '}
.oi:before { content: 'Inflected form '}

.iiGroup:before {content: 'Ilokano   '}
.itGroup:before {content: 'Filipino   '}
.ivGroup:before {content: 'Ivatan   '}
.dc .d:before {content: 'from Ivatan '}
.dc:before {content: '(';font-size: 100% ;}
.dc:after {content: ')';font-size: 100% ;}
.di .d:before {content: 'from Ilokano '}
.di:before {content: '(';font-size: 100% ;}
.di:after {content: ')';font-size: 100% ;}
.dj .d:before {content: 'from J '}
.dj:before {content: '(';font-size: 100% ;}
.dj:after {content: ')';font-size: 100% ;}
.de .d:before {content: 'from English '}
.de:before {content: '(';font-size: 100% ;}
.de:after {content: ')';font-size: 100% ;}
.ds .d:before {content: 'from Spanish '}
.ds:before {content: '(';font-size: 100% ;}
.ds:after {content: ')';font-size: 100% ;}
.dch .d:before {content: 'from Chinese '}
.dch:before {content: '(';font-size: 100% ;}
.dch:after {content: ')';font-size: 100% ;}


.eg:before { content: 'Grammar '}
.es:before { content: 'Semantics '}

.ar .d:before {content: ' Archaic'; }
.ar:before {content: '(';font-size: 100% ;}
.ar:after {content: ')';font-size: 100% ;}
.mb .d:before { content: 'Variant of '}
.mb:before {content: '(';font-size: 100% ;}
.mb:after {content: ')';font-size: 100% ;}
.mr .d:before { content: 'Variant of '}
.mr:before {content: '(';font-size: 100% ;}
.mr:after {content: ')';font-size: 100% ;}
.mo:before { content: 'Morphophonemics '}
.rf .d:before { content: 'from '}
.rf:before {content: '(';font-size: 100% ;}
.rf:after {content: ')';font-size: 100% ;}

.ode:after {content: ' Derivative'; font-size: 50%;}
.ose:after {content: ' Saying'; font-size: 50%;}
.oid:after {content: ' Idiom'; font-size: 50%;}


.ps_afx:before { content: 'affix  ' ; font-size: 100% ;}
.ps_cntc:before { content: 'contraction  ' ; font-size: 100% ;}
.ps_cntrc:before { content: 'contraction  ' ; font-size: 100% ;}
.ps_cntrc_neg:before { content: 'contraction negative  ' ; font-size: 100% ;}
.ps_com:before { content: 'compound  ' ; font-size: 100% ;}
.ps_comm:before { content: 'command  ' ; font-size: 100% ;}
.ps_dei:before { content: 'deictic  ' ; font-size: 100% ;}
.ps_excl:before { content: 'exclamation  ' ; font-size: 100% ;}
.ps_exp:before { content: 'expression  ' ; font-size: 100% ;}
.ps_ext:before { content: 'existential  ' ; font-size: 100% ;}
.ps_intg:before { content: 'interrogative particle  ' ; font-size: 100% ;}
.ps_lk:before { content: 'linker  ' ; font-size: 100% ;}
.ps_lmt:before { content: 'limitizer  ' ; font-size: 100% ;}
.ps_mk:before { content: 'marker  ' ; font-size: 100% ;}
.ps_mod:before { content: 'modifier  ' ; font-size: 100% ;}
.ps_n:before { content: 'noun  ' ; font-size: 100% ;}
.ps_neg:before { content: 'negative  ' ; font-size: 100% ;}
.ps_neg_ext:before { content: 'negative existential  ' ; font-size: 100% ;}
.ps_num:before { content: 'number  ' ; font-size: 100% ;}
.ps_ord_num:before { content: 'ordinal number  ' ; font-size: 100% ;}
.ps_part:before { content: 'participle  ' ; font-size: 100% ;}
.ps_pfx:before { content: 'prefix  ' ; font-size: 100% ;}
.ps_pron:before { content: 'pronoun  ' ; font-size: 100% ;}
.ps_quant:before { content: 'quantifier  ' ; font-size: 100% ;}
.ps_rhet:before { content: 'rhetorical  ' ; font-size: 100% ;}
.ps_rlr:before { content: 'relator  ' ; font-size: 100% ;}
.ps_sfx:before { content: 'suffix  ' ; font-size: 100% ;}
.ps_tm:before { content: 'time  ' ; font-size: 100% ;}
.ps_tm_mk:before { content: 'time marker  ' ; font-size: 100% ;}
.ps_v:before { content: 'verb  ' ; font-size: 100% ;}



/* keep .last:after at the end of css */
.last:after { content: ' '}
